<div class="biography-histoire">
  <label class="details-label" for="{{actor.id}}-npc-histoire">{{localize "SRLabels.histoire"}}</label>
  <textarea
    class="histoire-textarea"
    id="{{actor.id}}-npc-histoire"
    spellcheck="false"
    name="system.biography.histoire"
    value="{{system.biography.histoire}}"
  >{{system.biography.histoire}}</textarea>
</div>
<hr />