<div class="SR acquis-chat chat-card" data-actor-id="{{actorID}}">
  <header>
    <img class="acquis-image" src="{{acquissystem.img}}" />
    <h2 class="acquis-name">
      {{acquissystem.name}}
    </h2>
  </header>
  {{log this}}
  <div class="acquis-infos">
    <span class="label">{{localize "SRLabels.type"}}: </span><span class="detail">{{acquissystem.type}}</span><br />
    {{#if acquissystem.system.acquis.spécisalisations}}
      <span class="label">{{localize "SR.spécialisations"}}: </span><span
        class="detail"
      >{{acquissystem.system.acquis.spécialisations}}</span><br />
    {{/if}}
    {{#if acquissystem.system.acquis.valeur}}
      <span class="label">{{localize "SR.valeur"}}: </span><span class="detail">{{acquissystem.system.acquis.valeur}}</span><br />
    {{/if}}
    {{#if acquissystem.system.acquis.prestige}}
      <span class="label">{{localize "SR.prestige"}}: </span><span
        class="detail"
      >{{acquissystem.system.acquis.prestige}}</span><br />
    {{/if}}
    {{#if acquissystem.system.description.value}}
      <hr />
      <span class="label">{{localize "SR.Déscription"}}: </span><span
        class="detail"
      >{{acquissystem.system.description.value}}</span><br />
    {{/if}}
  </div>
</div>