<div class="SR pouvoir-chat chat-card" data-actor-id="{{actorID}}">
  <header>
    <img class="pouvoir-image" src="{{pouvoirsystem.img}}" />
    <h2 class="pouvoir-name">
      {{pouvoirsystem.name}}
    </h2>
  </header>
  <div class="pouvoir-infos">
    <span class="label">{{localize "SR.pouvoirType"}}: </span><span
      class="detail"
    >{{pouvoirsystem.system.PouvoirType.value}}</span><br />
    <span class="label">{{localize "SR.pouvoirFréquence"}}: </span><span
      class="detail"
    >{{pouvoirsystem.system.fréquence.value}}</span><br />
    <span class="label">{{localize "SR.pouvoirActivation"}}: </span><span
      class="detail"
    >{{pouvoirsystem.system.activation.value}}</span><br />
    <span class="label">{{localize "SR.pouvoirDurée"}}: </span><span class="detail">{{pouvoirsystem.system.durée.value}}</span><br
    />
    <span class="label">{{localize "SR.Portée"}}: </span><span class="detail">{{pouvoirsystem.system.portée}}</span><br />
    <span class="label">{{localize "SR.pouvoirNbcibles"}}: </span><span
      class="detail"
    >{{pouvoirsystem.system.nbcibles.value}}</span><br />
    <span class="label">{{localize "SR.pouvoirScore"}}: </span><span class="detail">{{pouvoirsystem.system.score.value}}</span><br
    />
    <span class="label">{{localize "SR.Résumé"}}: </span><span class="detail">{{pouvoirsystem.system.résumé.value}}</span><br />
    <hr />
    <span class="label">{{localize "SR.Déscription"}}: </span><span
      class="detail"
    >{{pouvoirsystem.system.description.value}}</span><br />
  </div>
</div>