<form class="item sheet crb-style pouvoir" autocomplete="off">
    {{!-- HEADER --}}
    {{> "systems/shaanrenaissance/templates/items/partials/header.hbs"}}
    <div class="pouvoir-rank">
        <p>
            <i>
                {{#if editable}}
                <select name="system.pouvoir.value">
                    {{selectOptions config.pouvoirs.pouvoirSelect selected=system.pouvoir.value localized=true}}
                </select>
                {{else}}
                    <input class="locked-input-rank" name="system.pouvoir.value" type="text" value="{{system.pouvoir.value}}"/>
                {{/if}}
                <b>{{#if editable}}
                <select name="system.rang.value">
                    {{selectOptions config.pouvoirs.pouvoirRank selected=system.rang.value localized=true}}
                </select>
                {{else}}
                    <input class="locked-input-rank" name="system.rang.value" type="text" value="{{system.rang.value}}"/>
                {{/if}}</b>
            </i>
            
        </p>
    </div>
    <div class="pouvoir-details">
            {{#if editable}}
            <div class="pouvoir-type">
                <h3>
                    <label for="{{options.id}}-pouvoir-type-select">{{localize "SR.pouvoirType"}}</label><br>
                    <select class="select" name="system.PouvoirType.value" id="{{options.id}}-pouvoir-type-select">
                        {{selectOptions config.pouvoirs.pouvoirType selected=system.PouvoirType.value localized=true}}
                </select>
                </h3>
                </div>
                {{else}}
                <div class="pouvoir-type">
                <h3>
                    <label for="{{options.id}}-pouvoir-type">{{localize "SR.pouvoirType"}}</label>
                    <input name="system.PouvoirType.value" id="{{options.id}}-pouvoir-type" type="text" value="{{system.PouvoirType.value}}"spellcheck="false"/>
                </h3>
                </div>
                {{/if}}
            {{#if editable}}
            <div class="pouvoir-fréquence">
                <h3>
                    <label for="{{options.id}}-pouvoir-fréquence-select">{{localize "SR.pouvoirFréquence"}}</label><br>
                    <select class="select" name="system.fréquence.value" id="{{options.id}}-pouvoir-fréquence-select">
                        {{selectOptions config.pouvoirs.pouvoirFréquence selected=system.fréquence.value localized=true}}
                    </select>
                </h3>
                </div>
                {{else}}
                <div class="pouvoir-fréquence">
                <h3>
                    <label for="{{options.id}}-pouvoir-fréquence">{{localize "SR.pouvoirFréquence"}}</label>
                    <input name="system.fréquence.value" id="{{options.id}}-pouvoir-fréquence" type="text" value="{{system.fréquence.value}}"spellcheck="false"/>
                </h3>
            </div>
                {{/if}}
            {{#if editable}}
            <div class="pouvoir-activation">
                <h3>
                    <label for="{{options.id}}-pouvoir-activation-select">{{localize "SR.pouvoirActivation"}}</label><br>
                    <select title="{{system.activation.value}}" class="select" name="system.activation.value" id="{{options.id}}-pouvoir-activation-select">
                        {{selectOptions config.pouvoirs.pouvoirActivation selected=system.activation.value localize=true}}
                </select>
                </h3>
                </div>
                {{else}}
                <div class="pouvoir-activation">
                <h3>
                    <label for="{{options.id}}-pouvoir-activation">{{localize "SR.pouvoirActivation"}}</label>
                    <input name="system.activation.value" id="{{options.id}}-pouvoir-activation" type="text" value="{{system.activation.value}}"spellcheck="false"/>
                </h3>
                </div>
                {{/if}}
        <div class="pouvoir-durée">
            <h3>
                <label for="{{options.id}}-pouvoir-durée">{{localize "SR.pouvoirDurée"}}</label><input name="system.durée.value" id="{{options.id}}-pouvoir-durée" type="text" value="{{system.durée.value}}" spellcheck="false"/>
                </h3>
        </div>
        {{#if editable}}
            <div class="pouvoir-portée">
                <h3>
                    <label for="{{options.id}}-pouvoir-portée-select">{{localize "SR.Portée"}}</label><br>
                    <select class="select" name="system.acquis.portée" id="{{options.id}}-pouvoir-portée-select">
                        {{selectOptions config.pouvoirs.pouvoirPortée selected=system.acquis.portée localize=true}}
                </select>
                </h3>
                </div>
                {{else}}
                <div class="pouvoir-portée">
                <h3>
                    <label for="{{options.id}}-pouvoir-portée">{{localize "SR.Portée"}}</label>
                    <input name="system.acquis.portée" id="{{options.id}}-pouvoir-portée" type="text" value="{{system.acquis.portée}}"spellcheck="false"/>
                </h3>
                </div>
                {{/if}}
        <div class="pouvoir-nbcibles">
            <h3>
                <label for="{{options.id}}-pouvoir-nbcibles">{{localize "SR.pouvoirNbcibles"}}</label><input name="system.nbcibles.value" id="{{options.id}}-pouvoir-nbcibles" type="text" value="{{system.nbcibles.value}}" spellcheck="false"/>
            </h3>
        </div>
        <div class="pouvoir-score">
            <h3>
                <label for="{{options.id}}-pouvoir-score">{{localize "SR.pouvoirScore"}}</label><input name="system.score.value" id="{{options.id}}-pouvoir-score" type="text" value="{{system.score.value}}" spellcheck="false"/>
            </h3>
        </div>
        <div class="pouvoir-résumé">
            <p>
                <i>
                    <label for="{{options.id}}-pouvoir-résumé">{{localize "SR.Résumé"}}</label><input name="system.résumé.value" id="{{options.id}}-pouvoir-résumé" type="text" value="{{system.résumé.value}}" spellcheck="false"/>
                </i>
            </p>
        </div>
        <div class="pouvoir-déscription">
            <label for="{{options.id}}-pouvoir-Déscription">{{localize "SR.Déscription"}}</label>
            <textarea name="system.description.value" id="{{options.id}}-pouvoir-Déscription" type="text" value="{{system.description.value}}" spellcheck="false">{{system.description.value}}</textarea>
        </div>
    </div>
</form>